<%= form_for @post  do |f| %>
  <br>
  <div class="form-group clearfix">
    <%= f.file_field :avatar, id:'uploadimage', class: 'form-control', style: 'width: 30%; float: right;', onchange: 'loadFile(event)' %>
  </div>
   <br>
  <img id="output"/>
  <script>
    var loadFile = function(event) {
      var reader = new FileReader();
      reader.onload = function(){
        var output = document.getElementById('output');
        output.src = reader.result;
      };
      reader.readAsDataURL(event.target.files[0]);
    };
  </script>
  <div class="form-group clearfix">
    <br>
    <%= f.radio_button :is_public, 'Public' %> Public
    <%= f.radio_button :is_private, 'Private' %> Private
    <%= f.submit id:'postbutton', class: 'btn btn-primary btn-lg float-end' %>
  </div>
<% end %> 
