<%= form_for @post do |f| %>
  <br>
  <div class="form-group">
    <%= f.text_area :title, class:'form-control', placeholder:'Title...', style:"width:50%;", id: "exampleTextarea"%>
  </div>
  <br>
  <div class="form-group clearfix">
    <%= f.file_field :avatar, id:'uploadimage', class:'form-control', style:'width: 30%;', onchange: 'loadFile(event)' %>
  </div>
   <br>
  <img id="output"/>
  <script>
    var loadFile = function(event) {
      var reader = new FileReader();
      reader.onload = function(){
        var output = document.getElementById('output');
        output.src = reader.result;
      };
      reader.readAsDataURL(event.target.files[0]);
    };
  </script>
  <div class="form-group clearfix">
    <br>
    <%= f.radio_button :is_public, 'public'%> Public
    <%= f.radio_button :is_private, 'Private' %> Private
    <input type="submit" name="commit" value="Upload" id="uploadimage" class="btn btn-primary btn-lg float-end" data-disable-with="Create Post">
  </div>
<% end %> 
<hr>
